@import "./Variables.scss";
@import "./Todo.scss";
@import "./Context.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid: "context todos" / minmax(100px, 300px) minmax(600px, 1fr);
  height: 100vh;
}

.context {
  grid-area: context;
  top: 0;
}

.todos {
  grid-area: todos;
}

@media (max-width: 1024px) {
  .todos {
    width: 100%;
    margin: 0;
    font-size: 0.85em;
  }
  // .todo-grid {
  //   grid-template-columns: 1fr;
  // }
  .context {
    font-size: 0.8em;
  }
  .App {
    grid: "context todos" / minmax(50px, 80px) minmax(300px, 1fr);
  }

  .heading {
    flex-direction: column;
  }
  .logo {
    font-size: 1.5em;
  }
  .collection-list {
    text-align: center;
    button {
      padding-left: 10px;
    }
  }
  .collection {
    display: none;
  }
  .identifier {
    top: 0;
    left: 0;
    display: block;
  }
}

@media (max-width: 500px) {
  .todos {
    font-size: 0.7em;
    padding: 0.5em;
    .todos-title input {
      font-size: 3.4em;
    }
  }
  .todo-grid {
    grid-template-columns: 1fr;
    gap: 1em;
  }
  .todo-heading {
    padding: 5px;
    font-size: 1.8em;
  }
  .todo-desc {
    padding: 7px;
    padding-top: 0px;
  }
  .context {
    font-size: 0.6em;
  }
  .collection-list {
    font-weight: bold;
  }
  .logo {
    font-size: 1.7em;
  }
  .App {
    grid: "context todos" / minmax(30px, 60px) minmax(50px, 1fr);
  }
}
