.todos {
  height: 100%;
  width: 80%;
  margin: auto;
  padding: 1.25em;
  font-size: 1em;
}

.todos-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.todos-title input {
  font-size: 4em;
  position: absolute;
  border: none;
}

.todos-title input:focus {
  outline: none;
}

.todos-title input:focus + label span {
  opacity: 0;
}

.todos-title input:focus + label::after {
  width: 100%;
}

.todos-title span {
  opacity: 0.4;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .todos-title span:hover {
    opacity: 0.7;
  }
}

.todos-title label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #060608;
  height: 100%;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.input-text {
  color: black;
  font-size: 4em;
}

.add {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.add span {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #eeeeee;
  background-color: #eeeeee;
  border-radius: 10px;
  font-size: 400%;
  cursor: pointer;
  -webkit-transition: font-size 150ms ease-in;
  transition: font-size 150ms ease-in;
}

@media (min-width: 1025px) {
  .add span:hover {
    font-size: 600%;
    background-color: #fafafa;
  }
}

.todo-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2em;
}

.todo-item {
  border: 2px solid #eeeeee;
  border-radius: 10px;
  padding: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 150ms ease-in;
  transition: -webkit-box-shadow 150ms ease-in;
  transition: box-shadow 150ms ease-in;
  transition: box-shadow 150ms ease-in, -webkit-box-shadow 150ms ease-in;
}

@media (min-width: 1025px) {
  .todo-item:hover {
    -webkit-box-shadow: 5px 5px 5px #eeeeee, -5px 5px 5px #eeeeee;
            box-shadow: 5px 5px 5px #eeeeee, -5px 5px 5px #eeeeee;
  }
}

.todo-heading {
  padding: 15px;
  font-size: 2em;
}

.todo-desc {
  margin-bottom: 30px;
  padding: 17px;
  padding-top: 0px;
  overflow: hidden;
}

.todo-date-time-wrapper {
  padding: 0.9em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: end;
}

.todo-date,
.todo-time {
  color: #8b8989;
}

.context {
  background-color: #060608;
  color: white;
  height: 100vh;
}

.context ul {
  padding: 10px 0px;
  margin: 10px 0px;
  margin-left: 0px;
  width: 100%;
}

.collection-list {
  position: relative;
  list-style: none;
}

.collection-list button {
  border: none;
  background: transparent;
  padding: 20px 10px;
  padding-left: 80px;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 1.3em;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  cursor: pointer;
  outline: none;
  text-align: unset;
}

.collection-list button::-moz-focus-inner {
  border: 0;
}

@media (min-width: 1025px) {
  .collection-list button:hover,
  .collection-list button:focus {
    background-color: rgba(236, 236, 236, 0.24);
    font-size: 1.5em;
    outline: none;
  }
}

.hide .identifier {
  display: block;
}

.hide .colllection {
  display: none;
}

.identifier {
  display: none;
  font-size: 1.2em;
  text-transform: uppercase;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.menu {
  position: relative;
  color: white;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(236, 236, 236, 0.24);
  border-radius: 25px;
  -webkit-transform: scaleX(0) scaleY(0);
          transform: scaleX(0) scaleY(0);
  -webkit-transition: -webkit-transform 150ms ease-in;
  transition: -webkit-transform 150ms ease-in;
  transition: transform 150ms ease-in;
  transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
}

@media (min-width: 1025px) {
  .menu:hover::before {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
}

.logo {
  font-size: 2em;
  margin-left: 5px;
  margin-bottom: 3px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  display: -ms-grid;
  display: grid;
  grid: "context todos"/minmax(100px, 300px) minmax(600px, 1fr);
}

.context {
  grid-area: context;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.todos {
  grid-area: todos;
}

@media (max-width: 1024px) {
  .todos {
    width: 100%;
    margin: 0;
    font-size: 0.85em;
  }
  .context {
    font-size: 0.8em;
  }
  .App {
    grid: "context todos"/minmax(50px, 80px) minmax(300px, 1fr);
  }
  .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo {
    font-size: 1.5em;
  }
  .collection-list {
    text-align: center;
  }
  .collection-list button {
    padding-left: 10px;
  }
  .collection {
    display: none;
  }
  .identifier {
    top: 0;
    left: 0;
    display: block;
  }
}

@media (max-width: 500px) {
  .todos {
    font-size: 0.7em;
    padding: 0.5em;
  }
  .todos .todos-title input {
    font-size: 3.4em;
  }
  .todo-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1em;
  }
  .todo-heading {
    padding: 5px;
    font-size: 1.8em;
  }
  .todo-desc {
    padding: 7px;
    padding-top: 0px;
  }
  .context {
    font-size: 0.6em;
  }
  .collection-list {
    font-weight: bold;
  }
  .logo {
    font-size: 1.7em;
  }
  .App {
    grid: "context todos"/minmax(30px, 60px) minmax(50px, 1fr);
  }
}
/*# sourceMappingURL=App.css.map */