@import "./Variables.scss";

.context {
  background-color: $background-black;
  color: white;
  height: 100vh;
}

.context ul {
  padding: 10px 0px;
  margin: 10px 0px;
  margin-left: 0px;
  width: 100%;
}

.collection-list {
  position: relative;
  list-style: none;

  button {
    border: none;
    background: transparent;
    padding: 20px 10px;
    padding-left: 80px;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    transition: all 200ms ease-in;
    cursor: pointer;
    outline: none;
    text-align: unset;
  }
  button::-moz-focus-inner {
    border: 0;
  }
}

.collection-list button:hover,
.collection-list button:focus {
  background-color: rgba(236, 236, 236, 0.24);
  font-size: 1.5em;
  outline: none;
}

.hide {
  .identifier {
    display: block;
  }
  .colllection {
    display: none;
  }
}

.identifier {
  display: none;
  font-size: 1.2em;
  text-transform: uppercase;
}

.heading {
  display: flex;
  align-items: center;
  // justify-content: center;
  padding: 10px;
}

.menu {
  position: relative;
  color: white;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(236, 236, 236, 0.24);
  border-radius: 25px;
  transform: scaleX(0) scaleY(0);
  transition: transform 150ms ease-in;
}

.menu:hover::before {
  transform: scaleX(1) scaleY(1);
}

.logo {
  font-size: 2em;
  margin-left: 5px;
  margin-bottom: 3px;
}
