.todos {
  height: 100%;
  width: 80%;
  margin: auto;
  padding: 1.25em;
  font-size: 1em;
  overflow: hidden;
}

.todos-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.todos-title input {
  font-size: 4em;
  border: none;
}

.todos-title input:focus {
  outline: none;
}

.todos-title input:focus + div + label span {
  display: none;
}

.todos-title input:focus + div + label + div span {
  z-index: 2;
  font-size: 50px;
}

.todos-title input:focus + div {
  width: 100%;
}

.todos-title span {
  opacity: 0.4;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .todos-title span:hover {
    opacity: 0.7;
  }
}

.edit {
  position: absolute;
  right: 0;
}

.done {
  position: absolute;
  right: 0;
}

.done span {
  font-size: 0;
}

.bottom-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  pointer-events: none;
  border-bottom: 1px solid #060608;
  height: 100%;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.input-text {
  color: black;
  font-size: 4em;
}

.add {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.add span {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #eeeeee;
  background-color: #eeeeee;
  border-radius: 10px;
  font-size: 400%;
  cursor: pointer;
  -webkit-transition: font-size 150ms ease-in;
  transition: font-size 150ms ease-in;
}

@media (min-width: 1025px) {
  .add span:hover {
    font-size: 600%;
    background-color: #fafafa;
  }
}

.todo-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2em;
}

.block {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.todo-item {
  border: 2px solid #eeeeee;
  border-radius: 10px;
  padding: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: -webkit-box-shadow 150ms ease-in;
  transition: -webkit-box-shadow 150ms ease-in;
  transition: box-shadow 150ms ease-in;
  transition: box-shadow 150ms ease-in, -webkit-box-shadow 150ms ease-in;
}

@media (min-width: 1025px) {
  .todo-item:hover {
    -webkit-box-shadow: 5px 5px 5px #eeeeee, -5px 5px 5px #eeeeee;
            box-shadow: 5px 5px 5px #eeeeee, -5px 5px 5px #eeeeee;
  }
}

.todo-heading {
  padding: 5px 15px;
  margin: 10px 0;
  font-size: 2em;
  border: none;
}

.todo-desc {
  padding: 7px 17px;
  margin: 10px 0;
  margin-bottom: 30px;
  overflow: hidden;
}

.todo-date-time-wrapper {
  padding: 0.9em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: end;
}

.todo-date,
.todo-time {
  color: #8b8989;
}

.close {
  display: none;
}

.active-wrapper {
  position: relative;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.active {
  position: fixed;
  border: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.active .block {
  display: none;
}

.active .todo-item {
  background-color: white;
  border: none;
  cursor: auto;
  max-width: 70%;
}

.active .todo-item:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.active .close {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.active .close span {
  font-size: 45px;
  color: white;
}
/*# sourceMappingURL=Todo.css.map */